{% extends 'base.html.twig' %} {% block title %}Party {% endblock %} {% block
body %} {% for message in app.flashes('notice') %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endfor %}
<div
  class="row row-cols-1 row-cols-md-3"
  style="margin: 30px; text-align: center; gap: 3rem"
>
  {% for event in events %}

  <div class="card" style="border: none; width: 25rem">
    <div class="card-body" style="height: 6rem">
      <a
        style="color: brown; text-decoration: none"
        href="/details/{{ event.id }}"
        ><h3>{{ event.name }}</h3></a
      >
    </div>

    <img src="pictures/{{ event.picture }}" class="card-img-top" alt="..." />

    <div class="card-body">
      <h5 class="card-title">{{ event.date|date('F j, Y') }}</h5>

      <h5 class="card-title">Start at {{ event.time|date("H:i") }}</h5>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
